In [2]:
import pandas as pd
import numpy as np
from xml.etree import ElementTree as ET
from lxml import objectify

In [3]:
path = './data/mondial_database.xml'
parsed = objectify.parse(open(path, encoding= 'utf8'))
root = parsed.getroot()

In [5]:
#why does iterfind not work in the below coding
for country in root.iterfind('name'):
    print(country)
   
    #print(city.text)

In [6]:
cities = []
for capital in root.iter('city'):
    y = capital.findall('name')[0]
    cities.append(str(y))
#print(cities)

In [7]:
ppn = []
for elem in root.iter('city'):        
    try:
        y = elem.population[-1]
    except AttributeError:
        y = '0' 
    ppn.append(int(y))

In [9]:
data = list(zip(cities, ppn))

In [11]:
dic = dict(data)
#dic

In [ ]:
#2 10 cities with the largest population

In [68]:
df = pd.DataFrame(data, columns=['city', 'population'])
df.head()

      city  population
0   Tirana      418495
1  Shkodër       77075
2   Durrës      113249
3    Vlorë       79513
4  Elbasan       78703

In [76]:
sorted_df = df.sort_values(by= 'population', ascending= False)
sorted_df.head(10)

           city  population
1341   Shanghai    22315474
771    Istanbul    13710512
1527     Mumbai    12442373
479      Moskva    11979529
1340    Beijing    11716620
2810  São Paulo    11152344
1342    Tianjin    11090314
1064  Guangzhou    11071424
1582      Delhi    11034555
1067   Shenzhen    10358381

In [ ]:
#1 10 countries with the lowest infant mortality rates

In [13]:
data = []
for child in root.findall('country'):
    child_data = {}
    for child in child.getchildren():
        child_data[child.tag] = child.text
    data.append(child_data)
    
df = pd.DataFrame(data)
df.head(3)

,border,city,dependent,encompassed,ethnicgroup,gdp_agri,gdp_ind,gdp_serv,gdp_total,government,...,infant_mortality,inflation,language,localname,name,population,population_growth,province,religion,unemployment
0,NaN,NaN,NaN,None,Greek,19.5,12,68.5,12800,parliamentary democracy,...,13.19,1.7,Greek,NaN,Albania,2800138,0.3,NaN,Christian Orthodox,16.9
1,NaN,NaN,NaN,None,Greek,3.5,16,80.5,243300,parliamentary republic,...,4.78,-0.8,Greek,Ελληνική Δημοκρατία,Greece,10816286,0.01,NaN,Muslim,27.9
2,NaN,NaN,NaN,None,Serb,10.2,27.5,62.3,10650,parliamentary democracy,...,7.9,2.8,Serbian,Република Македониjа,Macedonia,2059794,0.21,NaN,Roman Catholic,28.6

In [99]:
infant= df.loc[: , ['name', 'infant_mortality']]
infant['infant_mortality'] = infant['infant_mortality'].astype('float64')
lowest= infant.sort_values(by= 'infant_mortality', ascending= True)
lowest.head(10)

               name  infant_mortality
38           Monaco              1.81
98            Japan              2.13
117         Bermuda              2.48
36           Norway              2.48
106       Singapore              2.53
37           Sweden              2.60
10   Czech Republic              2.63
78        Hong Kong              2.73
79            Macao              3.13
44          Iceland              3.15

In [ ]:
#3 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)

In [14]:
ppn = []
for elem in root.iter('population'):        
    #print(elem[-1])
    
    #try:
     #   y = elem.population[-1]
    #except AttributeError:
     #   y = '0' 
#ppn.append(int(y))

SyntaxError: unexpected EOF while parsing (<ipython-input-14-1c505b1bbe83>, line 9)